body{
    margin: 0px;
    background: url("../img/fondo-reglas.png");
}
/*Espacio para las reglas*/
.reglas{
    margin-top: 20px;
    width: 800px;
    height: 580px;
    overflow-y: scroll;
    background: url("../img/fondo-r.png");
}
/*Titulo*/
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 50px;
    color: white;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 25px;
    text-align: left;
    color: whitesmoke;
    margin-left: 15px;
}
h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 12px;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
}
h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 15px;
    text-align: left;
    margin-left: 50px;
    color: white;
}
p{
    text-align: justify;
}
.p1{
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
}
.d1{
    margin-left: 100px;
    margin-right: 100px;
}
.d1 p{
    text-align: justify;
    font-family: sans-serif;
    font-size: 15px;
}
.d1 li{
    text-align: justify;
    font-family: sans-serif;
    font-size: 15px;
}
th{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border-bottom: solid white 2px;
    margin-bottom: 5px;
}
td{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    border-bottom: dotted white 2px;
    margin-bottom: 5px;
}
a{
    margin-top: 50px;
    margin-left: 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
}