body{
    margin: 0px;
    background: url("../img/fondo2.png");
}
/*Titulo*/
.divt{
    margin-top: 0px;
    width: 100%;
    height: 100px;
    background: url("../img/banner3.png");
}
/*Menu*/
nav{
    background: url("../img/barra-menu.png");
    margin-bottom: 2em;
    text-align: right;
    height: 40px;
    width: 100%;
}
nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.menu > li{
    position: relative;
    display: inline-block;
    margin-top: 8px;
    margin-right: 15px;
}
.menu > li > button{
    outline: none;
    background: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 17px;
    color: white;
}
/*Tablero*/
.div-tabla{
    align-content: center;
    margin-top: 25px;
}
table{
    align-content: center;
    border: .5px solid;
    width: 400px;
    height: 400px;
}
td{
    width: 25%;
    height: 25%;
    padding: .5px;
}
.boton-t{
    height: 100%;
    width: 100%;
    background: url("../img/tablero/normal.png");
}
/*Mostrar material*/
.div-mM{
    float: right;
    margin-right: 30px;
    background: url("../img/fondo-recursos.png");
    width: 150px;
    height: 350px;
}
.div-mM button{
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
}
.div-mM h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: brown;
    margin-bottom: 15px;
}
/*Mostrar edificios*/
.div-mE{
    float: left;
    width: 350px;
    height: 500px;
    margin-left: 10px;
    background: url("../img/fondo-em.png");
    overflow-y: scroll;
}
.div-mE h2{
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic bold;
    text-align: center;
    margin-bottom: 10px;
}
.div-mE h4{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.b1{
    border-radius: 5px;
    width: 85px;
    height: 100px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 8px;
    border-color: white;
}
p{
    text-align: right;
    color: black;
    font-style: italic bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    font-weight: bold;
}
.botonMon{
    background-color: white;
    border: none;
    color: blanco;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-left: 40px;
    margin-right: 20px;
}
.botonMon:hover{
    background-color: brown;
    color: white;
}
